In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/mamba/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/mamba/lib/python3.10/site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import s3fs
import os
import pandas as pd

In [3]:
# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})

In [15]:
# FILE_PATH_S3 = "projet-funathon/2023/sujet6/diffusion/data/ingredients.csv"
# with fs.open(FILE_PATH_S3, mode="rb") as file_in:
#     df_bpe = pd.read_csv(file_in, sep=";")

In [4]:
df_ingredients = pd.read_csv('data/ingredients.csv')
df_ingredients

     description
0        Abricot
1      Agar-agar
2         Agneau
3            Ail
4          Aïoli
..           ...
868        Vodka
869  Vol-au-vent
870       Wasabi
871       Whisky
872       Yaourt

[873 rows x 1 columns]

In [26]:
with open('data/proust.txt') as f:
    oeuvre = f.read().splitlines()

oeuvre = [text.strip('\t') for text in oeuvre]

In [29]:
df_oeuvre = pd.DataFrame({'texte':oeuvre})
df_oeuvre.texte.apply(lambda x: len(x)).describe()

count    10593.000000
mean       682.473615
std       1818.129152
min          0.000000
25%          0.000000
50%          0.000000
75%        511.000000
max      33201.000000
Name: texte, dtype: float64

In [34]:
df_oeuvre = df_oeuvre.loc[df_oeuvre.texte!='']
df_oeuvre.texte.apply(lambda x: len(x)).describe()

count     4888.000000
mean      1479.018617
std       2446.659142
min          1.000000
25%        162.000000
50%        637.500000
75%       1784.000000
max      33201.000000
Name: texte, dtype: float64